/*
====================================================
Typography
====================================================
*/

body {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-image: -webkit-image-set()
}

h1, 
h2, 
h4 { 
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

p {
    color: #777777;
}

/*
=====================================================
Header
=====================================================
*/

.sticky-top {
    background-color: #ffffff;
    border-bottom: 3px solid #cccccc;
}

header {
    color: #777777;
    background-color: #ffffff;
} 

h1 {
    background-color: #4aaaa5;
}

/*
=======================================
Navegation
=======================================
*/

a {
    text-decoration: none;
    color: #777777;
    text-transform: uppercase;
}

a:hover {
    color: #660033;
}

/*
===================================================
Main
===================================================
*/

.main {
    background-image: url("../images/squairy_light/squairy_light_@2X.png");
    width: 100%;
    z-index: 1;
    padding-bottom: 40px;
    padding-top: 40px;
}

.main-content {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    z-index: 2;
    clear: both;
}

/*
===================================================
Main Content
===================================================
*/
h2 {
    color: #4aaaa5;
    border-bottom: 3px solid #cccccc;
}

p {
    vertical-align: text-top;
    text-align: auto;
    padding: 0 15px 20px 15px;
}

span {
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 4s;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%    {color: #666666; left:0px; top:0px;}
  25%   {color: #660033; left:500px; top:0px;}
  50%   {color: #003366; left:0px; top:0px;}
  75%   {color: #cc0066; left:500px; top:0px;}
  100%  {color: #4aaaa5; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
    0%    {color: #666666; left:0px; top:0px;}
    25%   {color: #660033; left:500px; top:0px;}
    50%   {color: #003366; left:0px; top:0px;}
    75%   {color: #cc0066; left:500px; top:0px;}
    100%  {color: #4aaaa5; left:0px; top:0px;}
}

/*
===================================================
Portfolio
===================================================
*/

.workName {
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-transform: capitalize;
}

.workNameDiv {
    position: sticky;
    top: 28rem;
    z-index: 2;
}
.workType:hover {
    opacity: .8;
    transform: scale(1.1);
}


.imgWork {
    z-index: 1;
}




/*
===================================================
Contact Submit Button
===================================================
*/

.btn:hover {
    opacity: .70;
}

/*
===================================================
Footer
===================================================
*/

footer {
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
}
